$primary-white: #f8f9f8;
$primary-blue: #214173;
$primary-green: #9bd0b2;
$primary-peach: #f89589;
$primary-yellow: #e7e39a;
$secondary-blue: #214173;

html{

    background-color: $primary-white;
}

.btn-wrapper{
    margin-top: 75px;
    display: inline-block;
    position: relative;
    width: 155px;
    height: 50px;
    background-color: $primary-yellow;
    .btn{
        color: $primary-blue;
        font-size: 20px;
        position: absolute;
        width: 155px;
        height: 50px;
        bottom: 0px;
        right: -14px;
        border: 1px solid $primary-green;
        background-color: $primary-green;
    }
}

.btn:active{
    left: 0px;
}

.about-me {
    margin: 75px 45px 20px 45px;
    background-color: $primary-white;
    color: $primary-blue;
    display: flex;
    flex-direction: column;
    align-items: center;

    .about-wrapper {
        margin-top: 25px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .description {
        margin-top: 20px;
        text-align: left;
        display: inline-block;
        word-wrap: break-word;
        font-size: 24px;
        
    }

    .description-wrapper {
        display: flex;
        flex-direction: column;
        width: 30%;
        align-items: center;
    }
}



.socials-wrapper{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    margin-bottom: 50px;
    .gmail{
        width: 55px;
        height: 55px;
    }
    .linkedin{
        width: 49px;
        height: 45px;
    }
    .github{
        width: 48px;
        height: 43px;
    }
    .hackerrank{
        width: 55px;
        height: 55px;
    }
}

//mobile screen
@media screen and (min-width:360px) and ( max-width:414px)  {

    .heading{
        font-size: 30px;
        text-align: center;
    }
    
    .about-wrapper{
        flex-wrap: wrap;
        img{
            display: block;
            width: 300px;
            height: 300px;
            margin-bottom: 15px;
        }
    }
    .about-me {
        .description-wrapper{

            width: 100%;
         }
    }
    
}