<div class="about-me">
    <h2 class="heading"> About Me</h2>
    <div class="about-wrapper">
        <img class="about" src="../../assets/ABOUT.png">
        <div class="description-wrapper">
            <div class="socials-wrapper">
                <a href="mailto:swethasureshkumarr@gmail.com?Subject=Some%20subject"><img class='gmail' src="../assets/Icons/gmail.png"/></a>
                <a href="https://www.linkedin.com/in/swetha-suresh-kumar/"><img class='linkedin' src="../assets/Icons/linkedin.png"/></a>
                <a href="https://www.github.com/SwethaSureshKumarr"><img class='github' src="../assets/Icons/github.png"/></a>
                <a href="https://www.hackerrank.com/swethasuresh_ss1"><img class='hackerrank' src="../assets/Icons/hackerrank.png"/></a>
            </div>
            <p class="description">
                I've been working as a junior developer for about two years and enjoy problem solving. I enjoy
                learning and experimenting with new technologies. I'm looking for opportunities to gain hands-on
                programming experience, and I'm especially interested in Frontend and Java development.
            </p>
            <p class="description">Would you like to see my resume?</p>
            <div class="btn-wrapper">
                <button class="btn" onclick="window.open('../../assets/SwethaSureshKumar.pdf')"> View Resume</button>
            </div>
