@import '../../assets/variables';
$primary-white: #f8f9f8;
$primary-blue: #214173;
$primary-green: #9bd0b2;
$primary-peach: #f89589;
$primary-yellow: #e7e39a;
$secondary-blue: #214173;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    cursor: pointer;
}

.heading {
    font-size: 50px;
    margin-bottom: 35px;
    color: $primary-blue;

}

.section {
    margin: 100px 45px 0px 45px;
    background-color: $primary-white;
}

main {
    background-color: $primary-white;

    // background-color: #0f0f0f;
    // color: #ffffff;
    .cover-wrapper {
        height: 400px;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid $primary-white;

        video {
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
            z-index: 0;
            clip-path: inset(1px 1px);
        }

        .caption {
            width: 100%;
            height: 100%;
            z-index: 1;
            position: relative;
            display: flex;
            color: $primary-blue;
            padding: 10px;
            background: rgba(236, 234, 234, 0.42);
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    // .name,
    // .position {
    //     //color: $primary-white;
    // }

    .name {
        font-size: 60px;
        margin-bottom: 30px;
    }

    .position {
        display: inline;
        font-size: 28px;

    }

}

.about-me {
    color: $primary-blue;

    .about-wrapper {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .description {
        margin-top: 20px;
        text-align: left;
        display: inline-block;
        word-wrap: break-word;
        font-size: 24px;

    }

    .description-wrapper {
        display: flex;
        flex-direction: column;
        width: 30%;
        align-items: center;
    }
}

.technologies {
    color: $primary-blue;

    .heading{
        font-size: 24px;
        margin-top: 35px;
        font-weight: 500;
    }

    li{
        list-style: none;
        margin-bottom: 5px;

        span{
            background-color: $primary-blue;
            width: 20px;
            height: 20px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 15px;
        }
        fa-icon{
            color: $primary-white;
            
        }
    }

    .technologies-wrapper {
        display: flex;
        justify-content: space-around;
        // height: 450px;
    }

    .technology-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%;
        // height: 100px;
       
    }

    .tech-img {
        display: inline-block;
        object-fit: contain;
        width: 100px;
    }

    .technology-name {
        display: inline-block;
        text-align: center;
        margin-top: 35px;
        width: 100px;
        height: 100px;
        font-size: 24px;
    }
}

.projects {
    // color: $primary-white;
    display: flex;
    flex-direction: column;
    align-items: center;

    .heading {
        color: $primary-blue;
    }

    .project-card {

        display: flex;
        margin-bottom: 50px;
        flex-direction: column;
        justify-content: space-evenly;
        word-break: break-word;
        width: 35%;
        height: 747px;
        margin: 20px;
        padding: 36px;
        border-radius: 17px;
        border: 1px solid #dbdcdf;
        box-shadow: -41px 41px 82px #dbdcdf;

        .project-img {
           
            border-radius: 15px;
            display: inline-block;
            width: 100%;
            object-fit: fill;
            height: 305px;

           
        }

        .project-description {
            display: flex;
            flex-wrap: wrap;
            align-content: center;

            .project-name,
            .description,
            .websites {
                margin: 15px 50px 0px 35px;
                font-size: 24px;
            }

            .websites {
                a {
                    // color: $primary-white;
                    text-decoration: none;
                    margin-right: 10px;
                    margin-left: 10px;
                    margin-top: 10px;
                }
            }
        }

        &:hover {
            width: 35.5%;
            height: 749px;
        }
    }
}

.projects-wrapper {
    display: flex;
    justify-content: center;

}

.heading-wrapper {
    width: 99%;
}

.btn-wrapper {
    cursor: pointer;
    margin-top: 75px;
    display: inline-block;
    position: relative;
    width: 155px;
    height: 50px;
    background-color: $primary-yellow;

    .btn {
        cursor: pointer;
        color: $primary-blue;
        font-size: 20px;
        position: absolute;
        width: 155px;
        height: 50px;
        bottom: 0px;
        right: -14px;
        border: 1px solid $primary-green;
        background-color: $primary-green;
    }
}

.btn:active {
    left: 0px;
}

.contact {
    color: $primary-blue;
    background-color: $primary-white;
    padding-bottom: 100px;

    .contact-description {
        font-size: 24px;
    }
}

.socials-wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    margin-bottom: 50px;

    .gmail {
        width: 55px;
        height: 55px;
    }

    .linkedin {
        width: 49px;
        height: 45px;
    }

    .github {
        width: 48px;
        height: 43px;
    }

    .hackerrank {
        width: 55px;
        height: 55px;
    }
}

.wrapper {
    padding: 100px;
    display: flex;
    overflow-x: auto;

    ::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

}

.certifications {
    display: flex;
    width: 70%;
    width: 530px;
    height: 350px;

    img {
        display: inline-block;
        width: 530px;
        height: 350px;
        margin: 10px;
    }

}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background: rgba(224, 222, 222, 0.9);
    border: 4px solid transparent;
    background-clip: content-box;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    width: 0px;
    background: $primary-blue;
    border-radius: 10px;
    height: 10px;
}
.card-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 34px;
    height: 600px;
    border-radius: 17px;
    border: 1px solid #dbdcdf;
    box-shadow: -41px 41px 82px #dbdcdf;
    &:hover{
        width: 101%;
        height: 601px;
    }
}


//mobile screen
@media screen and (min-width:360px) and ( max-width:414px)  {
    .cover-wrapper{
        .name{
            font-size: 35px;
        }
    }

    .heading{
        font-size: 30px;
        text-align: center;
    }
    .about-me{

        .description-wrapper{
            width: 100%;
        }

        .about-wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            img.about{
                width: 200px;
                height: 200px;
            }
        }
        .socials-wrapper{
            a{
                img{
                    margin-top: 20px;
                    margin-left: 25px;
                }
            }
            
        }
    }
    .technologies{
        .technologies-wrapper{
            display: flex;
            flex-direction: column;
            width: 100%;
            .technology-card{
                width: 100%;
                margin-bottom: 15px;
            }
        }
    }
    .projects{
        .projects-wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .project-card{
            width: 100%;
           
        }

        .project-description{
            width: 100%;
            .project-name,
            .description,
            .websites {
                margin: 15px 25px 15px 15px !important;
                font-size: 18px !important;
            }
        }
    }

    .certifications{
        width: 100%;
        height: 321px;

       
        img{
            display: inline-block;
            width: 300px;
            height: 300px;
            margin-right: 5px;
        }
    }
    .wrapper {
        padding: 0px;
        display: flex;
        overflow-x: auto;
    
        ::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    
    }
}