<nav class="nav-bar">
    <div class="logo-Wrapper">
        <a href="#">&lt;/<span class="letter">S</span>wetha&gt;</a>
    </div>
    <menu>
        <li>
            <a [routerLink]="['/loading/about']" routerLinkActive="active">About</a>
            <div class="border"> </div>
        </li>
        <li>
            <a [routerLink]="['/loading/projects']" routerLinkActive="active">Projects</a>
            <div class="border"> </div>
        </li>
    </menu>
</nav>
<router-outlet></router-outlet>

